body
{
    margin: 0;
    padding: 0;
    background-color:#f0f5f4;
}
.btn
{
    width: 20%;
    margin-left: 1%;
    background-color:#575353;
    color: white;
}
.navbar-brand
{
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.navbar
{
    margin-top: 0;
    background-color: #575353;  
}
.navbar-link
{
    margin-left: 10%;
    margin-top: 0%;
}
.navbar-link li
{
    display: inline-block;
}
.navbar-link a 
{
    color: white;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    font-weight: 200;
    padding: 5px 10px;
}
.navbar-link a:hover 
{
    color: red;
    text-decoration: underline;
}
.dropdown-menu
{
    background-color: #575353; 
}
#carouselExampleCaptions
{
    width: 96%;
    height: 350px;
    margin-top: 2%;
    margin-left: 2%;
}
.carousel-inner img 
{
    width: 90%;
    height: 350px; 
}
.footer 
{
    width: 100%;
    height: 150px;
    background-color: #575353;
    margin-top: 3%;
}
#btn
{
    width:100%;
    color: white;
    background-color: #575353;
    
}
.table table-tr
{
    padding: 5px 7px;
}
.card
{
    margin-left: 22%;
}
@media only screen and (min-width:320px) and (max-width:480px)
{
.navbar-link li
{
    display: block;
}
.carousel-inner img 
{
    width: 100%;
    height: 250px;
}
.navbar-brand
{
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
#compnylist
{
    width: 50%;
    display: block;
}

.footer 
{
    width: 100%;
    height: 350px;
    background-color: #575353;
    margin-top: 3%;
    display: block;
}
}

