body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar-brand
{
    color: white !important;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 2%;
}
.navbar
{
    width: 100%;
    height: auto;
    background-color: #3b57f5;
}
.navbar-link
{
    margin-left: 25%;
    margin-top: 0%;
}
.navbar-link li
{
    display: inline-block;
}
.navbar-link a
{
    color: white;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    font-weight: 200;
    padding: 5px 15px;
}
.dropdown-menu
{
    background-color: #3b57f5 !important;
}
.content
{
    width: 100%;
    height: auto;
}
.content h1
{
    color: #3b57f5;
}
.content hr
{
    border: solid 2px #3b57f5 !important;
}
.card header
{
    background-color: #3b57f5;
}
#btn
{
    width: auto;
    height: auto;
    background-color: #3b57f5;
    border: none;
    color: white;
}
.footer
{
    width: 100%;
    height: auto;
    background-color: #3b57f5;
}